@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}
